/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
  display: flex;
  flex-direction: column;
  /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
  padding: 0;
  margin: 0;
 
}

.header {
  background-color: #212a1a;
  
}

.content {
  flex-grow: 1;
  
}

.footer {
  background-color: #212a1a;
  height: 100px;
}


.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

* {
  font-family: 'Unna', serif;
}

body {
  background: url('\images\italia.jpg');
}