/* CSS Code, den es für die Start Page braucht */
.webpage {
    display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
    min-height: 100vh;
    /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
    padding: 0;
    margin: 0;
  }
  
  .header {
    background-color: #003812;
    height: 100px;
    display: flex;
    align-items: center;
  }
.logo{
  width: 70px;
  padding-left: 50px;
  display: flex;
  align-items: center;

}
  .navbar{
    display: flex;
}
  .navlink {
    display: flex;
    align-items: center;
   font-family: Arial;
   font-weight: bold;
   font-size: 25px;
   color: white;
   padding-left: 120px;
   text-decoration: none;
  }

 

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-image: url("images/bg_main.png");  
    background-size: cover; 
    padding: 25px;
    margin: 0;
}
h1{
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 50px;
}
h2{
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 35px;
}
.part{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

@keyframes textAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

.animatedpart {
  animation: textAnimation 4s linear;
  animation-duration: 3s;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(242, 241, 177), 0 0 5px rgb(173, 154, 48);
}


.intro {
  color: white;
  display: flex;
  color: white;
  font-family: Arial;
  font-size: 20px;
}
.buttonstart{
  color: #003812;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;

  background-color: white;
  border:3px solid #003812;

}

.buttonstart .buttonstart:hover {
  background-color: #3e8e41;
}
.footer {
  background-color: #003812;
  height: 50px;
  display: flex;
  align-items: center
}
.footerlink{
  display: flex;
  justify-content: center;
}
.footlink {
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding-left: 90px;
  text-decoration: none;
  display: flex;
    align-items: center;
 }
.insta {
  width: 35px;
  padding-left: 90px;
  display: flex;
  align-items: center;
}

.github {
  width: 35px;
  padding-left: 90px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding-left: 90px;
  text-decoration: none;
}


  @media (max-width: 768px) {
    .navlink {
      padding-left: 20px; 
      font-size: 15px; 
    }

    .buttonstart {
      font-size: 15px; 
      padding: 5px 10px; 
    }

    .footlink {
      padding-left: 20px; 
      font-size: 12px; 
    }
    .insta {
      padding-left: 20px; 
    }
}